body {
    margin: 0;
    padding: 0;
}
.wrapper {
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
svg.svg-inline--fa.fa-plus-circle.fa-w-16 {
    font-size: 15px;
    color: #000;
}
svg.svg-inline--fa.fa-minus-circle.fa-w-16 {
    font-size: 15px;
    color: #000;
}
svg.svg-inline--fa.fa-plus-circle.fa-w-16:hover {
    color: cadetblue;
}
svg.svg-inline--fa.fa-minus-circle.fa-w-16:hover {
    color: cadetblue;
}

.wrapper_chitiet {
   
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.hinhanh_sanpham {
    
    float: left;
    width: 30%;
}
.chitiet_sanpham {
    float: left;
    width: 50%;
    margin: 0 20px;
}
input.themgiohang {
    border: none;
    background: brown;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
/*---------------------header----------------------*/
#header {
    padding-bottom: 30px;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    border: 1px solid #fff;
    height: 500px;
    width: 100%;
   
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;  
  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    left: 10px;
    justify-content: center;
    top: 530px;
    z-index: 2;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}






/*----------------------menu------------*/
.menu {
    border: 1px solid #fff;
    height: 50px;
    width: 100%;
    background: #878670;
   
}
.menu  li  a {
    font-size: 16px;
    font-weight: bold !important;
    display: block;
    line-height: 25px;
}

ul.list_menu {
    padding: 0px;
    margin: 0;
    width: 70%;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}
ul.list_menu li:hover {
    background: #aea896;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #000;
}
ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}
#main {
    border: 1px solid #c6cfce;
    height: auto;
    width: 100%;
    background:  #fcfbe9;
   
}

.footer {
    border: 1px solid #ccc;
    height: 150px;
    width: 100%;
    background: #878670;
}
p.footer_copyright {
    text-align: center;
    color: #000;
}

.clear {
    clear: both;
}
/*--------baiviet---------------*/
ul.baiviet {
    padding: 0;
    margin: 0;
    list-style: none;
}



/*------------------sibar---------------*/
.sidebar {
    border: 1px solid #CCCCCC;
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: left; /* đổ về bên trái */
}
ul.list_sidebar {
    padding: 0px;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 27px;
}
ul.list_sidebar li:hover {
    background: #e8e8e3;
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: #000;
    display: block;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}
.maincontent {
   
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li img {
    height: 450px;

}
ul.product_list li {
    width: 23%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
    height: 600px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img {
    width: 100%;
   
}
p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.tittle_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}




/*--------tabs-content---------------*/
.clear {
    clear: both;
}
/*--------Tabs---------------*/
.tabs {
    width: 70%;
    background-color: lightgray;
    border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
}
ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
ul#tab-nav li:hover,
ul#tab-nav li.active {
    background-color: #aea896;
}
#tabs-nav li a {
    text-decoration: none;
    color: #878670;
}
.tab-content {
    padding: 10px;
    border: 2px solid lightslategray;
    background-color: beige;
}

/* jQuery Demo */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
  }
  
  /* Responsive Arrow Progress Bar */
  
  .container {
    font-family: 'Lato', sans-serif;
  }
  
  .arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 10px 0px 10px 0px;
    width: 15%;
    float: left;
    position: relative;
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .arrow-steps .step a {
    color: #777;
    text-decoration: none;
  }
  
  .arrow-steps .step:after,
  .arrow-steps .step:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #ddd;
    z-index: 2;
  }
  
  .arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
  }
  
  .arrow-steps .step:first-child:before {
    border: none;
  }
  
  .arrow-steps .step:last-child:after {
     border: none;
  }
  
  .arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .arrow-steps .step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .arrow-steps .step span {
    position: relative;
  }
  
  *.arrow-steps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 11px;
    line-height: 21px;
  }
  
  .arrow-steps .step.current {
    color: #fff;
    background-color: #5599e5;
  }
  
  .arrow-steps .step.current a {
    color: #fff;
    text-decoration: none;
  }
  
  .arrow-steps .step.current:after {
    border-left: 17px solid #5599e5;
  }
  
  .arrow-steps .step.done {
    color: #173352;
    background-color: #2f69aa;
  }
  
  .arrow-steps .step.done a {
    color: #173352;
    text-decoration: none;
  }
  
  .arrow-steps .step.done:after {
    border-left: 17px solid #2f69aa;
  }





